/* Large Desktop */
@media (max-width: 1199.98px) {
  .header__agency-image {
    width: 170px;
  }

  .header__decor--bottom {
    left: 9px;
  }

  .about {
    margin-top: 51px;
  }

  .about__inner {
    flex-direction: column;
    row-gap: 53px;
    justify-content: flex-start;
  }

  .about__media,
  .about__content {
    width: unset;
  }

  .about__content {
    max-width: 85vw;
  }

  .about__decor {
    display: none;
  }

  .process__image {
    display: none;
  }

  .blog__content {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    row-gap: 12px;
  }

  .blog {
    margin-top: 50px;
  }

  .blog__list {
    margin-top: 38px;
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    row-gap: 52px;
  }

  .blog__desc {
    max-width: 72vw;
  }

  .footer__inner {
    justify-content: center;
  }

  .footer__left {
    width: unset;
  }

  .footer__right {
    display: none;
  }

  .footer__menu-icon {
    display: inline-block !important;
  }

  .footer__sub-title {
    color: #000;
  }

  .footer__overplay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    transition: ease 0.5s;
  }

  .footer__overplay--is-open {
    visibility: visible;
    opacity: 1;
  }

  .footer__row-resp {
    position: absolute;
    inset: 0 0 0 20%;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    transform: translateX(100%);
    transition: ease 0.5s;
  }

  .footer__row-resp--is-open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }

  .footer__close-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 10px;
    font-size: 2rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .header__md-menu-icon,
  .header__md-nav {
    display: none !important;
  }

  .service__control-btn--toggle {
    display: none;
  }
}

/* Tablet/mobile */
@media screen and (max-width: 991.98px) {
  .header__nav-list {
    display: none;
  }

  .medium-header__row-right {
    display: flex;
    align-items: center;
  }

  .header__md-menu-icon {
    display: inline-block;
    margin-left: 30px;
    font-size: 3rem;
    cursor: pointer;
  }

  .medium-header__sign-up-btn {
    --height: 32px;
    min-width: 92px;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .header__md-overplay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: ease 0.5s;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .header__md-overplay--open {
    visibility: visible;
    opacity: 1;
  }

  .header__md-nav {
    position: fixed;
    transform: translateX(100%);
    z-index: 2;
    transition: ease 0.5s;
    inset: 0 0 0 40%;
    background: #fff;
    padding: 40px;
  }

  .header__md-nav--open {
    display: block;
    transform: translateX(0%);
  }

  .header__md-nav-link {
    color: var(--accent-color-2);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.55;
  }

  .header__md-nav-item:not(:first-child) {
    margin-top: 40px;
  }

  .header__sign-up-btn {
    margin-left: 0;
  }

  .header__hero {
    row-gap: 67px;
    flex-direction: column;
    width: 100%;
  }

  .header__content {
    width: 100%;
  }

  .header__title {
    width: 70%;
    font-size: 4rem;
    max-width: none;
  }

  .header__desc {
    margin-top: 10px;
    width: 73%;
    max-width: none;
  }

  .header__decor:first-child,
  .header__decor--bottom {
    display: none;
  }

  .header__controls {
    margin-top: 19px;
  }

  .header__media {
    justify-content: space-between;
  }

  .header__agency-image {
    width: 30%;
  }

  .service__control-btn--toggle {
    display: none;
  }

  .process__item {
    padding: 107px 20px;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
  }

  .feature__header {
    flex-direction: column;
    gap: 8px;
  }

  .feature__icon-road,
  .feature__icon-flower {
    display: none;
  }

  .share {
    margin-top: 50px;
  }

  .share__header {
    width: 74vw;
  }

  .share__list {
    margin-top: 30px;
    grid-template-columns: 300px;
    justify-content: center;
    row-gap: 30px;
  }

  .share__item:hover {
    transform: unset;
  }

  .share__desc--list {
    width: 70vw;
  }
}

/* Landscape/portrait mobile */
@media screen and (max-width: 767.98px) {
  .brand__inner {
    border-radius: 30px;
  }

  .brand__list {
    font-size: 0.8rem;
    gap: 20px;
  }

  .service__title {
    font-size: 1.8rem;
    line-height: 1.22;
  }

  .service__desc {
    max-width: none;
    font-size: 1rem;
    line-height: 2;
  }
  .service__control {
    display: none;
  }

  .service__list {
    grid-template-columns: repeat(3, 100%);
  }

  .service__item {
    min-width: 100%;
    transform: translateX(calc(-100% - 16px));
  }

  .service__body {
    column-gap: 11px;
    align-items: center;
  }

  .service__resp-control-btn {
    width: 120px;
    height: 50px;
  }

  .service__resp-control-icon {
    width: 12px;
    height: 12px;
  }

  .service__control-btn--toggle {
    display: flex;
  }

  .about__image {
    max-width: 42vw;
  }

  .about__stats {
    font-size: 2.6rem;
  }

  .about__desc--small {
    font-size: 1rem;
    max-width: unset;
  }

  .about__info {
    column-gap: 15px;
    justify-content: unset;
    max-width: 93%;
  }

  .process__serial {
    font-size: 5rem;
  }

  .process__heading {
    margin-top: 16px;
  }

  .process__list {
    margin-top: 50px;
  }
}

/* Portrait mobile */
@media screen and (max-width: 575.98px) {
  .main {
    margin-top: 95px;
  }

  .header__logo {
    font-size: calc(16 / 27 * 1rem);
  }

  .header__logo-label {
    font-size: 2.2em;
  }

  .header__md-menu-icon {
    font-size: 2.5rem;
  }

  .header__title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    width: 100%;
  }

  .header__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
  }

  .header__sign-up-btn {
    --height: 32px;
    --padding-inline: 25px 24px;
    min-width: 92px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .header__touch-btn {
    --height: 35px;
    --padding-inline: 19px 20px;
    min-width: 107px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .header__half-circle {
    width: 41px;
    height: 41px;
  }

  .header__watch-video-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 29px;
  }

  .header__text-video-btn {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.14;
  }

  .header__controls {
    gap: 15px;
  }

  .header__md-nav {
    inset: 0 0 0 30%;
  }

  .brand__inner {
    padding: 0;
    min-height: 251px;
  }

  .service__resp-control-btn {
    width: 200px;
    height: 40px;
  }

  .service__resp-control-icon {
    width: 12px;
    height: 12px;
  }

  .about__card {
    left: 0;
    right: unset;
  }

  .about__heading {
    font-size: 3rem;
    max-width: 70vw;
  }

  .about__desc--large {
    font-size: 1.4rem;
  }

  .process__heading {
    font-size: 3rem;
  }

  .process__heading-endline::after {
    width: 48px;
    right: -72px;
  }

  .process__desc {
    font-size: 1.4rem;
  }

  .feature__heading {
    font-size: 3rem;
    line-height: 1.33;
    max-width: 70vw;
  }

  .feature__heading-endline::after {
    width: 38px;
    bottom: 18px;
    right: -60px;
  }

  .feature {
    padding: 53px 0 101px 0;
  }

  .feature__desc {
    font-size: 1.4rem;
    line-height: 1.71;
    max-width: 58vw;
  }

  .share__heading {
    font-size: 3rem;
    line-height: 1.33;
  }

  .share__desc--header {
    font-size: 1.4rem;
    line-height: 1.71;
  }

  .share__desc--list {
    font-size: 1.2rem;
    line-height: 2;
  }

  .blog__heading {
    font-size: 3rem;
    line-height: 1.33;
  }

  .blog__desc {
    font-size: 1.4rem;
    line-height: 1.85;
  }

  .blog__intro-title {
    font-size: 0.8rem;
  }

  .blog__title {
    font-size: 1.6rem;
    line-height: 1.87;
  }

  .blog__date {
    font-size: 0.8rem;
  }

  .blog__heading-endline::after {
    right: -15px;
    width: 66px;
  }

  .footer {
    padding-inline: 12px;
  }

  .footer__input,
  .footer__input::placeholder {
    font-size: 2rem;
  }

  .footer__title {
    font-size: 2.4rem;
  }

  .footer__row-resp {
    inset: 0 0 0 0;
    padding: 0;
  }

  .footer__close-icon {
    top: unset;
    bottom: 0;
  }

  .footer__sub-title {
    font-size: 1.5rem;
  }
}
