/* Common */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #152427;
  --secondary-color: #e2eddf;
  --accent-color-1: #143c3c;
  --accent-color-2: #575d5e;
  --accent-color-3: #7d8188;
  --accent-color-4: #83a17d;
}

html {
  font-size: 62.5%;
}

body {
  height: 10000px;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
}

/* Resuable */
.container {
  --container-width: 1140px;
  --padding-inline: 24px;
  margin-inline: auto;
  width: var(--container-width);
  max-width: calc(100% - var(--padding-inline) * 2);
}

.btn {
  --height: 57px;
  --padding-inline: 20px;
  padding: 0;
  width: 173px;
  height: var(--height);
  padding-inline: var(--padding-inline);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: var(--height);
  border-radius: 40px;
  border: none;
  background: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
  color: #000;
  border: none;
  background: var(--secondary-color);
}

.heading-lv1 {
  color: var(--primary-color);
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
}

.heading-lv2 {
  color: var(--primary-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

/* Header */
.header {
  margin-top: 28px;
  height: 100vh;
  font-family: "Public Sans", sans-serif;
}

.header__top {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  gap: 38px;
}

.header__nav-link {
  color: var(text-color-black-gray, #575d5e);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.header__nav-link--active,
.header__nav-link:not(.header__nav-link--active):hover {
  color: var(--primary-color, #152427);
}

.header__nav-link--active::after {
  content: "";
  position: relative;
  left: 0;
  bottom: -27px;
  width: 16px;
  height: 2px;
  display: block;
  background: var(--accent-color-1);
}

.header__sign-up-btn {
  margin-left: 88px;
}

.header__separate {
  margin-top: 13px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.header__hero {
  margin-top: 60px;
  display: flex;
  gap: 76px;
}

.header__content {
  width: calc(393 / 1140 * 100%);
}

.header__title {
  max-width: 368px;
}

.header__desc {
  max-width: 341px;
  color: var(--accent-color-2, #575d5e);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.header__controls {
  margin-top: 42px;
  display: flex;
  gap: 36px;
}

.header__watch-video-btn {
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}

.header__half-circle {
  width: 59px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  rotate: -45deg;
  transition: 0.3s;
}

.header__watch-video-icon-wrapper {
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  background: var(--accent-color-4);
  rotate: 45deg;
}

.header__text-video-btn {
  color: var(--primary-color, #152427);
  text-align: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  transition: 0.3s;
}

.header__watch-video-btn:hover .header__half-circle {
  color: var(--accent-color-4);
  rotate: 135deg;
}

.header__watch-video-btn:hover .header__watch-video-icon-wrapper {
  rotate: -75deg;
}

.header__watch-video-btn:hover .header__text-video-btn {
  color: var(--accent-color-4);
}

.header__media {
  position: relative;
  display: flex;
  gap: 20px;
}

.header__agency-image {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.header__agency-image--center {
  transform: translateY(77px);
}

.header__decor:first-child {
  top: -32px;
  left: -200px;
  position: absolute;
}

.header__decor--bottom {
  position: absolute;
  rotate: 180deg;
  left: 80px;
  bottom: -130px;
}

/* Main */
.main {
  margin-top: 130px;
}

.brand__inner {
  padding: 76px 121px;
  border-radius: 100.5px;
  background: var(--secondary-color);
}

.brand__list {
  display: flex;
  align-items: center;
  gap: 47px;
}

.brand__item {
  display: flex;
  align-items: center;
}

.brand__google {
  color: var(--primary-color);
  font-size: 3.1rem;
  font-weight: 500;
}

.brand__slack {
  color: var(--accent-color-1);
  font-size: 3.2rem;
  font-weight: 600;
}

.brand__agworld {
  color: #163c35;
  font-size: 2.6rem;
  font-weight: 400;
}

.brand__heroku {
  color: var(--accent-color-1);
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.105em;
}

/* Service */
.service {
  margin-top: 106px;
}

.service__label {
  position: relative;
  padding-left: 46px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.service__label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 1px;
  background: var(--primary-color);
}

.service__row {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.service__heading {
  max-width: 520px;
}

.service__heading::after {
  content: "";
  position: relative;
  left: 8px;
  top: -7px;
  width: 66px;
  height: 2px;
  display: inline-block;
  background: var(--primary-color);
}

.service__control {
  margin: 0 76px 0 auto;
  display: flex;
  gap: 17px;
}

.service__control-btn {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  background: var(--secondary-color);
  transition: 0.2s;
  cursor: pointer;
}

.service__control-btn:hover {
  color: #fff;
  background: var(--accent-color-1);
}

.service__control-btn--next {
  rotate: 180deg;
}

.service__list {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  column-gap: 16px;
}

.service__thumbnail-wrapper {
  height: 318px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.service__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.service__info {
  padding: 24px 18px;
  border-radius: 0 0 20px 20px;
}

.service__title {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.service__desc {
  margin-top: 18px;
  color: var(--accent-color-3);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

.service__thumbnail-wrapper:hover .service__thumbnail {
  transform: scale(1.1);
}

.service__item:hover .service__info {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

/* About */
.about {
  margin-top: 160px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__media {
  position: relative;
  width: calc(591 / 1140 * 100%);
  font-family: "Public Sans";
}

.about__image-wrapper {
  position: relative;
  display: flex;
  gap: 21px;
}

.about__image {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  object-fit: cover;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__image--bottom {
  margin-top: 77px;
}

.about__decor {
  position: absolute;
  top: -33px;
  left: 40px;
}

.about__card {
  position: absolute;
  bottom: 8px;
  right: -9px;
  padding: 19px 23px 11px;
  border-radius: 8px;
  background: #fff;
}

.about__title {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.about__label {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.about__label--balance {
  margin-top: 6px;
  color: var(--accent-color-2);
  font-weight: 400;
  line-height: 1.4;
}

.about__active-progress {
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.about__progress-bar {
  position: relative;
  margin-top: 3px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.about__active-progress-bar {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: var(--accent-color-4);
}

.about__label--status {
  margin-top: 3px;
  text-align: right;
}

.about__circle-outter {
  width: 11px;
  height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #eaeaea;
}

.about__circle-inner {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--accent-color-1);
}

.about__team {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__avatar-group {
  margin-right: -5px;
  display: flex;
}

.about__avatar-image:not(:first-child) {
  margin-left: -6px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.about__content {
  width: calc(485 / 1140 * 100%);
  font-family: Poppins;
}

.about__intro-title {
  display: flex;
  gap: 21px;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.12;
}

.about__intro-title::before {
  content: "";
  position: relative;
  width: 25px;
  height: 1px;
  background: var(--primary-color);
}

.about__heading {
  margin-top: 20px;
}

.about__desc {
  color: var(--accent-color-3);
  font-weight: 500;
}

.about__desc--large {
  margin-top: 11px;
  font-size: 1.6rem;
  line-height: 1.62;
}

.about__info {
  padding: 0 7px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent-color-4);
}

.about__info--first {
  margin: 36px 0 38px;
}

.about__stats {
  color: var(--primary-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.about__desc--small {
  max-width: 364px;
  font-size: 14px;
  line-height: 1.71;
}

/* Process */
.process {
  margin-top: 115px;
  font-family: Poppins;
}

.process__intro-title {
  display: flex;
  gap: 21px;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.12;
}

.process__intro-title::before {
  content: "";
  width: 25px;
  height: 1px;
  background: var(--primary-color);
}

.process__heading {
  position: relative;
  max-width: 477px;
  color: var(--primary-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.process__heading::after {
  content: "";
  position: absolute;
  bottom: 18px;
  right: 0;
  display: block;
  width: 66px;
  height: 2px;
  background: var(--primary-color);
}

.process__list {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
}

.process__item {
  position: relative;
  padding: 0 30px;
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  border-bottom: 1px solid var(--accent-color-4);
}

/* .process__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 3px;
  background: linear-gradient(
    180deg,
    var(--accent-color-4) 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
} */

.process__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 444px;
  object-fit: cover;
}

.process__title-wrapper {
  display: flex;
  align-items: center;
}

.process__title-info {
  position: relative;
}

.process__link {
  position: absolute;
  right: 33px;
  bottom: -30px;
  display: none;
  color: var(--accent-color-2);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: underline;
}

.process__item:nth-child(1) .process__title {
  margin-left: 64px;
}

.process__item:nth-child(2) .process__title {
  margin-left: 49px;
}

.process__item:nth-child(3) .process__title {
  margin-left: 47px;
}

.process__serial {
  color: var(--accent-color-1);
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72;
}

.process__title {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.process__desc {
  max-width: 572px;
  color: var(--accent-color-3);
  font-size: 1.8rem;
  font-family: "Public Sans";
  font-weight: 500;
  line-height: 1.55;
}

.process__item:hover {
  border-radius: 33px;
  border: none;
  background: var(--secondary-color);
}

.process__item:hover .process__link {
  display: inline-block;
}

/* Feature */
.feature {
  margin-top: 209px;
  padding: 116px 130px 63px;
  background: var(--accent-color-1);
}

.feature__header {
  display: flex;
  gap: 93px;
}

.feature__heading {
  max-width: 457px;
  color: #e7f9f9;
  font-weight: 600;
  line-height: 1.23;
}

.feature__heading::after {
  content: "";
  position: relative;
  bottom: 9px;
  left: 0;
  display: inline-block;
  width: 66px;
  height: 2px;
  background: var(--accent-color-4);
}

.feature__desc {
  color: #6a8383;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.feature__info-link-wrapper {
  margin-top: 13px;
  display: flex;
  gap: 26px;
  align-items: center;
}

.feature__info-link {
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.feature__body {
  margin-top: 65px;
  position: relative;
}

.feature__video {
  width: 100%;
  height: 544px;
  object-fit: cover;
  border-radius: 22px;
}

.feature__icon-road {
  position: absolute;
  top: -165px;
  right: -50px;
}

.feature__icon-flower {
  position: absolute;
  top: -70px;
  right: -50px;
}
